---
kind: ConfigMap
apiVersion: v1
metadata:
  name: composition-{{ .Release.Name }}-card
  namespace: {{ .Release.Namespace }}
data:
  panel: "false"
---
apiVersion: templates.krateo.io/v1alpha1
kind: Widget
metadata:
  name: composition-{{ .Release.Name }}-card
  namespace: {{ .Release.Namespace }}
spec:
  type: card
  propsRef:
    name: composition-{{ .Release.Name }}-card
    namespace: {{ .Release.Namespace }}
  actions:
  - template:
      apiVersion: templates.krateo.io/v1alpha1
      resource: collections
      name: composition-{{ .Release.Name }}-tablist
      namespace: {{ .Release.Namespace }}
  app:
    template:
      tags: {{ .Release.Namespace }}
      title: {{ .Release.Name }}
      content: This is a card for {{ .Release.Name }} composition
      {{- with .Values.card.icon }}
      icon: {{ .Values.card.icon }}
      {{- else }}
      icon: fa-circle-question
      {{- end }}
      {{- with .Values.card.color }}
      color: {{ .Values.card.color }}
      {{- else }}
      color: grey
      {{- end }}
